.topp{
    position: relative;
    text-align: center;
    color: rgb(44, 212, 86);
}

.tpt{
    position: absolute;
    top: 20%;
    left: 55%;
    font-size: 3vw;
    font-weight: 500;
}
.tpt2{
    position: absolute;
    top: 35%;
    left: 65%;
    font-size: 1vw;
    font-weight: 500;
}
.bt{
    position: absolute;
    top: 40%;
    left:65% ;
    border-style: none;
    color: black;
    font-size: small;
    font-weight: 600;
    padding: 5px 15px;
}

div.scroll-container {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }


  